{{ define "main" }}
<main class="mw8 center ph3 pv5">
  <p class="f4">Welcome to the IKWF history website.</p>

  <nav class="mt4">
    <p class="mv3">
      <a class="f5 link dim underline-hover" href="/brackets/">
        View historical brackets &rarr;
      </a>
    </p>
    <p class="mv3">
      <a class="f5 link dim underline-hover" href="/teams/">
        View team history pages &rarr;
      </a>
    </p>
    <p class="mv3">
      <a class="f5 link dim underline-hover" href="/blog/">
        Read the blog &rarr;
      </a>
    </p>
  </nav>
</main>
{{ end }}
